html {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#rockBtn {
    background-image: url('./imgs/everything_everywhere_allAtOnce.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

#paperBtn {
    background-image: url('./imgs/octopus-crafts-paper.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

#scissorsBtn {
    background-image: url('./imgs/scissors_ikea.jpg');
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.scores-container {
    display: flex;
    justify-content: space-between;
}

.scorebox {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#playerChoice {
    background-image: url(./imgs/mariokart_box.png);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

#computerChoice {
    background-image: url(./imgs/mariokart_box.png);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#endgameModal { /* this is the modal background actually */
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4) /* black with opacity */
}

#modalBox {
    background-color: white;
    margin: 15% auto; /*15% from top and centered */
    padding: 20px;
    border: 1px solid grey;
    width: 80%; /* can be more or less, depending on screen size */
}
