html {
    background-color: lightslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: goldenrod;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#roundCount {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.scores-container {
    display: flex;
    justify-content: space-between;
}

.scorebox {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.choice {
    background-image: url(./imgs/mariokart_box.png);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid black;
}

.score {
    font-size: 16px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn {
    border: 1px solid black;
    cursor: pointer;
}

#rockBtn {
    background-image: url('./imgs/everything_everywhere_allAtOnce.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

#paperBtn {
    background-image: url('./imgs/octopus-crafts-paper.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

#scissorsBtn {
    background-image: url('./imgs/scissors_ikea.jpg');
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0 0 20px 5px lightgoldenrodyellow;
}

.btn:active {
    box-shadow: 0 0 20px 5px lightgreen;
    border: 2px solid lightgreen;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: darkslategrey;
    color: goldenrod;
}

#endgameModal { /* this is the modal background actually */
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4) /* black with opacity */
}

#modalBox {
    text-align: center;
    width: 320px;
    height: 140px;
    margin: 220px auto; /* margin from top and centered */
    background-color: lightcyan;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}

#restartBtn {
    background-color: lightgoldenrodyellow;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 18px;
    box-shadow: -2px 2px #999;
}

#restartBtn:hover {
    background-color: yellow;
}

#restartBtn:active {
    box-shadow: -1px 1px #666;
    transform: translateX(1px);
    transform: translateY(1px);
}